/*karlson*/
.carousel {
    position: relative; /* position par rapport aux éléments enfants */
    display: flex; /* pour la mise en page */
    justify-content: center; /* centre horizontalement */
    align-items: center; /* centre verticalement */
    width: 100%;
    max-width: 1200px; 
    height: 60vh; 
    margin: 5vh auto 0; /* pour descendre le carrousel sous la navbar */
    /* overflow: hidden; */
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4); 
    background-color: #f5f5f5; 
}

/*pour les diapositives du carrousel*/
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* couvre toute la zone */
    background-position: center;
    transition: opacity 0.6s ease-in-out; /* lentement, accélère au milieu, puis ralentit à la fin*/
    opacity: 0;
    z-index: 0;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.slide-content {
    position: absolute;
    bottom: 10%; 
    left: 10%; 
    color: white;
    background: rgba(0, 0, 0, 0.7); 
    padding: 1.5rem 2rem; /* espacement interne */
    font-size: 1.8rem;/* taille de la police */
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
}

.arrow {
    position: absolute;
    /* transform: translateY(-50%); */
    top: 50%; /* position au centre verticalement */
    font-size: 3rem; /* taille de la police */
    color: rgba(255, 255, 255, 0.9); /* couleur du texte */
    cursor: pointer; /* change le curseur en pointeur */
    z-index: 2;
    opacity: 0.9;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.arrow:hover {
    opacity: 1;
    transform: translateY(-50%) scale(1.2); /* agrandit légèrement la flèche */
}

.arrow-left {
    left: 2rem; 
}

.arrow-right {
    right: 2rem; 
}

/* pour petits écrans */
@media screen and (max-width: 768px) {
    .carousel {
        max-width: 100%;
        height: 60vh; 
    }

    .arrow {
        font-size: 2.5rem;
    }

    .slide-content {
        font-size: 1.2rem;
        padding: 1rem 1.5rem;/* espacement interne */
        bottom: 7%;
        left: 7%;
    }
}
