/*myriam*/


.burger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
  }

  /* conteneur pour le statut connecté */
.status-container {
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 0.5rem; /* espace entre pastille et texte */
    color: white;
    font-size: 1rem;
    font-family: 'Georgia', serif;
  }
  
  /* pastille verte */
  .status-dot {
    width: 10px;
    height: 10px;
    background-color: #00ff00; 
    border-radius: 50%; 
    display: inline-block;
  }
  /* bouton de déconnexion */
.logout-button {
    background-color: transparent; 
    color: white;
    font-size: 1rem;
    font-family: 'Georgia', serif;
    border: 2px solid white; 
    border-radius: 5px; /* bords arrondis */
    padding: 0.5rem 1rem; /* espace interne */
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
  }
  
  /*au survol du bouton*/
  .logout-button:hover {
    background-color: rgb(245, 12, 12); 
    color: rgb(15, 15, 15); 
  }

  
  

  @media screen and (max-width:  1024px) {
    .status-container {
      justify-content: center;
      margin-bottom: 1rem; /* espacement sous la pastille */
    }
  
    .logout-button {
      width: 80%; /* bouton plus large sur petits écrans */
      text-align: center;
      margin: 0 auto; /* centrer le bouton */
    }
  }
  
  
  /* pour petits écrans */
  @media screen and (max-width: 500px) {
    .burger {
      display: block;
    }
  
    .main-nav {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #333;
      position: absolute;
      top: 100%;
      left: 0;
      padding: 1rem 0;
      z-index: 1;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }
  
    .main-nav.active {
      display: flex;
    }
  
    .main-nav li {
      text-align: center;
      margin: 0.5rem 0;
    }
  
    .main-nav li a {
      font-size: 1.2rem;
      padding: 1rem 0;
      width: 100%;
      text-align: center;
    }
  
    .dropdown-content {
      position: relative; 
      min-width: 100%;
    }
  }
  