/* tous les éléments de la page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-background {
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%;
  height: 100vh; /* toute la hauteur de l'écran */
  object-fit: cover; /* remplie l'écran */
  z-index: -1; /* vidéo bien est en arrière-plan */
}

/* home-container pb */
.home-container {
  position: relative;
  z-index: 0; /* au-dessus de la vidéo */
}

header {
  background-color: #1e1e1ed4;
  padding: 0; /* espace interne # margin */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* au dessus de tout */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav dans header */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
  gap: 1rem; /* espace entre l'image et le titre */
}

/* image du logo */
.logo img {
  height: auto;
  width: 15%;
  max-width: 150px;
}

.logo h1 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(212, 211, 211);
  margin: 0;
  text-align: left;
  flex-grow: 1; /* titre prend 1x plus d'espace à gauche */
  font-family: 'Georgia', serif;
}

/* liste de navigation */
ul.main-nav {
  list-style: none;
  display: flex;
  gap: 2rem; /* espacement entre les éléments */
  margin: 0;
}

/* liens de la nav */
ul.main-nav li a {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  padding: 1rem 2vw;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* effet */
  font-family: 'Georgia', serif;
}

/* effet survol liens */
ul.main-nav li a:hover {
  background-color: grey; 
  color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}


ul.main-nav li a.inscription-button,
ul.main-nav li a.connexion-button {
  background-color: transparent; 
  color: white;
}

ul.main-nav li a.inscription-button:hover,
ul.main-nav li a.connexion-button:hover {
  background-color: grey; 
  color: white;
}

/* menu déroulant pour services */
li.dropdown {
  position: relative;
 
  
}

/*bouton*/
li.dropdown .dropbtn {
  color: rgb(240, 234, 234);
  font-size: 1.2rem;
  padding: 1rem 2vw;
  cursor: pointer;
  border-radius: 5px; 
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* transition fluide */
  font-family: 'Georgia', serif;

}

li.dropdown .dropbtn:hover {
  background-color:grey;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* ombre */
  border-radius: 5px; /* bords arrondis au survol */
}


li.dropdown .dropdown-content {
  display: none;
  position: absolute;
  margin-top: 14px;
  background-color: #1f1e1ed4;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

li.dropdown:hover .dropdown-content {
  display: block;
}

li.dropdown .dropdown-content a {
  color: white;
  padding: 1rem 2vw;
  display: block;
  text-decoration: none;
}

li.dropdown .dropdown-content a:hover {
  background-color: grey;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* burger pour les petits écrans */
.burger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 1024px) {
  .burger {
    display: block;
  }

  ul.main-nav {
    display: none;
  }

  ul.main-nav.active {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    background-color: #1e1e1ed4;
    padding: 2vh 0;
    position: absolute;
    top: 8.1vh;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 768px) {
  ul.main-nav {
    flex-direction: column;
    gap: 2rem;
    display: none;
    width: 100%;
    background-color: #1e1e1ed4;
    padding: 2vh 0;
    position: absolute;
    top: 10vh;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  ul.main-nav.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ul.main-nav li {
    text-align: center;
    margin: 0;
  }

  ul.main-nav li a {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1.5rem 2.5rem;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }

  ul.main-nav li a:hover {
    background-color: grey;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1e1e1ed4;
    min-width: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  li.dropdown:hover .dropdown-content {
    display: block;
  }

  li.dropdown .dropdown-content a {
    padding: 1rem 2.5rem;
  }
}

body {
  padding-top: 5vh;
}
