
.about-container {
    font-family: Arial, sans-serif;
    color: #333; 
    background-color: #f5f5f5; 
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  .about-content {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .about-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #444; 
    margin-bottom: 10px;
  }
  
  .about-subtitle {
    font-size: 1.5rem;
    color: #667; 
    margin-bottom: 20px;
  }
  
  .phone-n {
    font-size: 1.2rem;
    color: #222; 
    margin-top: 10px;
  }
  
  .phone-n i {
    color: #888; 
    margin-right: 10px;
  }
  

  .map-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; 
    border: 1px solid #ddd;     border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .map-container {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
  }
  
  
  @media (max-width: 768px) {
    .about-title {
      font-size: 2rem;
    }
  
    .about-subtitle {
      font-size: 1.2rem;
    }
  
    .phone-n {
      font-size: 1rem;
    }
  }
  