
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /*  footer bien en bas meme si le contenu est court */
  }
  
  main {
    flex-grow: 1;  /* permet au contenu de remplir l'espace disponible */
  }
  