/*clemence*/
.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    padding-top: 10vh;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100vh;
  }
  
  .calendar-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .rbc-calendar {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .rbc-event {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .rbc-event-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .rbc-event-label {
    font-weight: bold;
  }
  
  .rbc-event-count {
    background-color: #ffc107;
    color: #fff;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
  }
  