
.avis-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 3 cartes par ligne */
    gap: 20px;  /* espace entre les cartes */
    padding: 20px;
    padding-top: 100px; 
    padding-bottom: 50px; 
  }
  
  @media (max-width: 1200px) {
    .avis-container {
      grid-template-columns: repeat(2, 1fr);  /* 2 cartes par ligne sur des écrans plus petits */
    }
  }
  
  @media (max-width: 768px) {
    .avis-container {
      grid-template-columns: 1fr;  /* 1 carte par ligne sur mobile */
    }
  }
  