/*maya*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
  }
  
  body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color: #333;
  }
  .page-connexion {
    background-image: url('../assets/background-connexion.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


  /* Conteneur global */
  .connexion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px; 
  }
  
  /* Formulaire de connexion */
  .connexion-form {
    max-width: 600px;
    padding: 40px;
    background-color: #1c1c1cc9;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.721);
    font-family: 'Helvetica Neue', sans-serif;
    color: #f5f5f5;
    border: 1px solid #333;
  }
  
  .connexion-form h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-family: 'Georgia', serif;
  }
  
  .form-group {
    margin-bottom: 25px;
  }
  
  .form-group label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: #f9f6f6;
    margin-bottom: 10px;
    font-family: 'Georgia', serif;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #555;
    background-color: transparent;
    color: #f5f5f5;
    box-sizing: border-box;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-bottom: 2px solid #FFD700;
    outline: 2px solid #000;
    outline-offset: 2px;
  }
  
  .form-group button {
    width: 100%;
    padding: 15px;
    background-color: #fabe26;
    color: #1c1c1c;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .form-group button:hover {
    background-color: #d7a40c;
    transform: translateY(-2px);
  }
  
  .form-group button:active {
    transform: translateY(0);
  }
  
  .error {
    color: #ff4d4d;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  

  .connexion-image {
    text-align: center;
    margin-top: 30px;
  }
  
  .connexion-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Adaptation responsive */
  @media (max-width: 768px) {
    .connexion-form {
      width: 90%;
      padding: 20px;
    }
  
    .connexion-form h1 {
      font-size: 2rem;
    }
  }
  