
.video-background {
    position: relative;
    width: 100%;
    height: 100vh;  
    overflow: hidden;
    
  }
  
  .video-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  
  }
  
/*superposition*/
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2; /* overlay au-dessus de la vidéo */
  backdrop-filter: blur(2.5px); /* flou texte milieu */
  display: flex;
  flex-direction: column; /* Les éléments s'alignent verticalement */
  align-items: center; /* Centrage horizontal */
  gap: 20px; /* Espacement entre les éléments */
}
  
  .reserve-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff5733; 
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .reserve-button:hover {
    background-color: #c74424;  /* couleur bouton au survol légèrement plus foncé*/
  }

  .home-container {
    position: relative;
    z-index: 0;  /* conteneur de fond a un index inférieur à celui du bouton */
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;  /* overlay au-dessus de la vidéo */
  }
  
  .reserve-button {
    position: relative;
    z-index: 3;  /*  bouton au-dessus de l'overlay */
  }
  